<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación de Proyectos</h1>
    <nav>
        <ul>
            <li><a href="{% url 'lista_proyectos' %}">Ver Lista de Proyectos</a></li>
            <li><a href="{% url 'lista_tareas' %}">Ver Lista de Tareas Asociadas Ordenadas por fecha</a></li>
            <li><a href="{% url 'lista_usuarios' %}">Ver Lista de Usuarios</a></li>
            <li><a href="{% url 'lista_tareas_textoconcreto' %}">Ver Lista de Tareas con texto concreto</a></li>
            <li><a href="{% url 'lista_tareas_completadas' anio_inicio=2020 anio_fin=2022 %}">Ver Lista de Tareas 2 años Completada</a></li>
            <li><a href="{% url 'ultimo_comentario_usuario_proyecto' id_proyecto=1 %}">Último Comentario default proyecto 1</a></li>
            <li><a href="{% url 'todoscomentarios_palabraurl_añocomentario' palabra="Heavy" año=2024 %}">Ver todos los comentarios con palabra 'red' y año = 2024</a></li>
            <li><a href="{% url 'etiquetas_todastareas_proyecto' id_proyecto=1 %}">Ver todos las etiquetas del proyecto 1</a></li>
            <li><a href="{% url 'usuariosnoasignados_tarea' id_tarea=1 %}">Ver todos los usuarios no asignados tarea 1</a></li>


            <!-- Aquí puedes agregar más enlaces a otras URLs según sea necesario -->
        </ul>
    </nav>
</body>
</html>
