{% extends "../estructura/templatefinal.html" %}

{% block cabecera %}
    <h1>Lista de Tareas Completadas</h1>
{% endblock %}

{% block contenido %}
    
        <ul>
            {% for tarea in tareas %}
                {% if tarea.completada == 1 %}: 
                {% comment %} PRIMER OPERADOR, IGUALDAD == {% endcomment %}
                <p>Esta tarea si fue completada</p>
                {% endif %}
            {% include "../estructura/tarea_for.html" %}

            {% endfor %}
        </ul>
    
    <a href="{% url 'inicio' %}">Regresar a la página de inicio</a>
    {% endblock %}


