{% extends "../estructura/templatefinal.html" %}

{% block cabecera %}
    <h1>Lista de Proyectos</h1>
{% endblock %}

{% block contenido %}
    
        <ul>
            {% for asignaciontarea in tareas %}
            <li>
                <strong>Título:</strong> {{ asignaciontarea.tarea.titulo }} <br>
                <strong>Descripción:</strong> {{ asignaciontarea.tarea.descripcion }} <br>
                <strong>Prioridad:</strong> {{ asignaciontarea.tarea.prioridad }} <br>
                <strong>Estado:</strong> {{ asignaciontarea.tarea.estado }} <br>
                <strong>Fecha de Creación:</strong> {{ asignaciontarea.tarea.fechacreacion }} <br>
                <strong>Hora de Vencimiento:</strong> {{ asignaciontarea.tarea.horavencimiento }} <br>
                <hr>
            </li>
        {% endfor %}
        
        </ul>
    
    <a href="{% url 'inicio' %}">Regresar a la página de inicio</a>
{% endblock %}

