{% extends "../estructura/templatefinal.html" %}

{% block cabecera %}
    <h1>Ultimo comentario del proyecto segun usuario</h1>
{% endblock %}

{% block contenido %}

    {% if comentario %}
        <p><strong>Comentario:</strong> {{ comentario.contenido }}</p>
        <p><strong>Usuario:</strong> {{ comentario.autor.nombre }}</p> <!-- Aquí se muestra el nombre de usuario del autor -->
        <p><strong>Fecha:</strong> {{ comentario.fecharegistro }}</p>
    {% else %}
        <p>No hay comentarios para esta tarea.</p>
    {% endif %}
{% endblock %}
