<div>
        <ul>
            <li><a href="{% url 'lista_proyectos' %}">Ver Lista de Proyectos</a></li>
            <li><a href="{% url 'lista_tareas' %}">Ver Lista de Tareas Asociadas Ordenadas por fecha</a></li>
            <li><a href="{% url 'lista_usuarios' %}">Ver Lista de Usuarios</a></li>
            <li><a href="{% url 'lista_tareas_textoconcreto' 'our' %}">Ver Lista de Tareas con texto concreto "our"</a></li>
            <li><a href="{% url 'lista_tareas_completadas' anio_inicio=2023 anio_fin=2024 %}">Ver Lista de Tareas Completadas de 2023 a 2024</a></li>
            <li><a href="{% url 'ultimo_comentario_usuario_proyecto' id_proyecto=1 %}">Último Comentario default proyecto 1</a></li>
            <li><a href="{% url 'todoscomentarios_palabraurl_añocomentario' palabra="As" año=2024 %}">Ver todos los comentarios con palabra 'As' y año = 2024</a></li>
            <li><a href="{% url 'etiquetas_todastareas_proyecto' id_proyecto=1 %}">Ver todos las etiquetas del proyecto 1</a></li>
            <li><a href="{% url 'usuariosnoasignados_tarea' id_tarea=1 %}">Ver todos los usuarios no asignados tarea 1</a></li>
        </ul>
</div>

