{% extends "../estructura/templatefinal.html" %}

{% block cabecera %}
    <h1>Lista de Proyectos</h1>
{% endblock %}

{% block contenido %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Duración Estimada</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Finalización</th>
                <th>Creador</th>
                <th>Colaboradores</th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.descripcion }}</td>
                <td>{{ proyecto.duracionestimada }}</td>
                <td>{{ proyecto.fechainicio }}</td>
                <td>{{ proyecto.fechafinalizacion }}</td>
                <td>{{ proyecto.creador.username }}</td>
                <td>
                    {% for colaborador in proyecto.colaboradores.all %}
                        {{ colaborador.username }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'inicio' %}">Regresar a la página de inicio</a>
{% endblock %}
