{% extends "../estructura/templatefinal.html" %}

{% block cabecera %}
    <h1>Usuarios asignados a la tarea</h1>
{% endblock %}

{% block contenido %}

    {% if usuarios %}
        <ul>
            {% for usuario in usuarios %}
                <li>{{ usuario.nombre }}</li>  <!-- Muestra el nombre del usuario -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay usuarios asignados a ninguna tarea.</p>
    {% endif %}
    
    <a href="{% url 'inicio' %}">Regresar a la página de inicio</a>
{% endblock %}
